#header, #inicio, #aboutme {
  background-image: url(../img/fondo3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

nav.navbar {
  opacity: 0.5;
  position: fixed;
  top: 0px; }
  nav.navbar ul .nav li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; }

.navbar-default .navbar-nav > li > a {
  font-weight: 50;
  font-size: 30px;
  color: #c4415d;
  font-family: "Roboto Slab", serif; }

#habilidades {
  background-image: url(../img/fondo7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

img {
  border: 5px solid #ccc;
  float: left;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -ms-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out; }

.ex1 img:hover {
  margin-top: 2px; }

/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/
h1 {
  font-weight: 700;
  font-size: 77px;
  margin: 0;
  padding: 0;
  color: #c4415d;
  font-family: "Roboto Slab", serif; }

ul {
  display: inline-block;
  list-style: none;
  padding-left: 0; }

li {
  list-style: none; }

a:hover {
  color: #c4415d;
  transition: color 50ms; }

a:active, a:hover {
  outline: 0; }

#proyecto {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #CFCFC4; }

.portfolio-item-button {
  display: inline-block;
  border: 2px solid #ffffde;
  border-radius: 7px;
  text-align: center;
  line-height: 70px;
  width: 300px;
  height: 70px;
  font-weight: 500;
  font-size: 20px; }

.portfolio-item-button {
  color: #c4415d;
  text-decoration: none; }

.portfolio-item-button:hover {
  background: #ffffde;
  color: #c4415d;
  text-decoration: none; }

.portfolio-item-title {
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 30px;
  color: #c4415d; }

.portfolio-item-description {
  font-size: 20px;
  margin-bottom: 40px; }

#contacto {
  background-color: #c4415d;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: left ,  right bottom, 00,top;
  padding-bottom: 5%; }

.contacto .row .iconos .icono {
  width: 50px;
  font-size: 35px;
  color: black; }

.item {
  height: 200px;
  width: 300px; }

.icono {
  font-size: 35px;
  color: black;
  list-style: none; }

/*********@media**************/
@media (max-width: 1199px) {
  .portfolio-item {
    width: 100%; } }
@media (min-width: 700px) {
  .navbar {
    text-align: center; }

  .menu-items {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin-top: -40px;
    width: 100%; }

  .menu {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c4415d;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 24px;
    border: none; } }
@media (max-width: 600px) and (min-width: 350px) {
  h1 {
    font-size: 40px;
    width: 100%; }

  .frase {
    text-align: center; }

  .decripcion h4 {
    padding-left: 0px; }

  .portfolio-item-button {
    margin-bottom: 20px;
    text-align: center; }

  #adorno {
    display: none; }

  .about {
    display: none; }

  .descripcion {
    width: 100%; }

  .portfolio-item-description {
    display: none; }

  .portfolio-item-title {
    display: inline-block;
    font-size: 30px;
    text-align: center; }

  #proyecto {
    width: 100%; } }
footer {
  background-color: black;
  color: white; }

/*# sourceMappingURL=main.css.map */
