<<<<<<< HEAD:main.css
/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/ 
/*h1 {
    font-weight: 700;
    font-size: 77px;
    margin: 0;
    padding: 0;
    color: #d94362;
=======
header{
    background-image: url(img/descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: #988c8c;
}
ul{
    display: inline-block
>>>>>>> 9a4241e1f98ebf2b75347c6688c7c3157e3180c4:css/main.css
}