$font-principal:'Roboto Slab', serif;
$font-sec:"Helvetica Neue", Helvetica, Arial, sans-serif;
$display-block: inline-block;
$displaynone: none;
$cien:100%;
$color-principal:#d94362;
$color-secundario:#ffffde;
$color-oscuro:#372d3b;
$color-fdd:#c4415d;

//*{outline: 1px solid pink}



/* mixins    @mixin ancho{
    width: 10px;
    height: 39px;
}*/
    


#inicio{
    background-image: url(../img/probar.jpeg);
    background-repeat: no-repeat;
    //background-size: fixed;
    //background-position:left ,  right , 00, 00;
    background-attachment: fixed;
    background-position: center;
    //background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar {
    opacity: 0.5;
    //position: fixed;
    top:0px;
    ul{
        .nav{
            li{
                a{
                     font-family: $font-sec;
                    font-size: 18px;  
                }
            }
        }
    }
}
.navbar-default .navbar-nav>li>a {
    font-weight: 50;
    font-size: 30px;
    //margin: 5%;
   // padding: 5%;
    color: $color-principal;
    font-family:$font-principal;
    
}
#aboutme{
    background-image: url(../img/fondo2.jpg);
    padding-bottom: 10%;
    
}
#habilidades{
    background-color: $color-oscuro;
   
}

img {
    border: 5px solid #ccc;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
   //utilizar mixins @include ancho;
}
.ex1 img:hover {
    margin-top: 2px;
}
/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/ 
h1 {
    font-weight: 700;
    font-size: 77px;
    margin: 0;
    padding: 0;
    color: $color-principal;
    font-family:$font-principal;
}

ul
{
    display: $display-block;
    list-style: $displaynone;
    padding-left: 0;
}
li{
    padding-bottom: 5%;
}

a:hover {
    color: $color-principal;
    transition: color 50ms;
}


a:active, a:hover {
    outline: 0;
}
#proyecto {
    background-image: url(../img/1-chao.png),url(../img/2-chao.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $color-fdd;
    //background-position:left ,  right bottom, 00,top;
    }

.portfolio-item-button {
    display: $display-block;
    border: 2px solid $color-secundario;
    border-radius: 7px;
    text-align: center;
    line-height: 70px;
    width: 300px;
    height: 70px;
    font-weight: 500;
    //color:$color-secundario;
    font-size: 20px;
} 
.portfolio-item-button  {
    color: $color-secundario;
    text-decoration: none;
    
}
 .portfolio-item-button:hover {
    background: $color-secundario;
    color: $color-fdd;
    text-decoration: none;
     
}

.portfolio-item-title {
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 30px;
}    
.portfolio-item-description {
    font-size: 20px;
    margin-bottom: 40px;
   
}

#contacto{
    background-color: $color-principal;
    background-image: url(../img/1-teto.png),url(../img/camada4-teto-arvores.png),url(../img/fundo.png),url(../img/camada2-teto-arvores.png);
    background-repeat: no-repeat;
    background-size: fixed;
    background-position:left ,  right bottom, 00,top;
    padding-bottom: 500px;
}
.contacto{
    .row {
        .iconos{
            .icono{
                width: 50px;
                font-size: 35px;
                color: black;
            }
        }
    }
}  


.icono{
    font-size: 35px;
    color: black;
    list-style: $displaynone;
}



/*********@media**************/
@media (max-width: 1199px){
    .portfolio-item {
    width: $cien;
    
    }
    
}
@media (min-width: 700px) { 
            .navbar{
                    text-align: center;
                   }
    .menu-items {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin-top: -40px;
    width: 100%;
}
    .menu{display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-fdd;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 24px;
    border: none;
    }
}

    
@media (max-width:600px) and (min-width:350px){
    
    .decripcion h4{
        padding-left: 0px;
    }
  .portfolio-item-button {
        margin-bottom:20px;
        text-align: center
      
    } 
    #adorno{
        display: $displaynone;
    }
   .about
    {
        display: $displaynone;
    }
    .descripcion{
        width: $cien;
    }
    .portfolio-item-description{
        display: $displaynone;
    }
    .portfolio-item-title{
      
        display: $display-block;
        font-size: 20px;
    }
    #proyecto{
        width: $cien;
    }
}