$font-principal:'Roboto Slab', serif;
$display-block: inline-block;
$displaynone: none;
$cien:100%;
$color-principal:#d94362;
$color-secundario:#ffffde;

*{outline: 1px solid pink}
#inicio{
    background-image: url(../img/img-2.png),url(../img/2-arvore-dir.png),url(../img/13-ceu.png),url(../img/5-arvores.png);
    background-repeat: no-repeat;
    background-size: fixed;
    background-position:left ,  right bottom, 00, 00;
    
		  
}
#aboutme{
    background-color: #372d3b;
}

nav.navbar {
opacity: 0.5;
}
nav.navbar ul.nav li a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
  
   
}

/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/ 
h1 {
    font-weight: 700;
    font-size: 77px;
    margin: 0;
    padding: 0;
    color: $color-principal;
    font-family:$font-principal;
    
}
list-proyect{
    list-style-image: $displaynone;
}


ul
{
    display: $display-block;
    list-style: $displaynone;
    padding-left: 0;
    

}
li{
    padding-bottom: 5%;
}
.contacto .row .iconos icon
{
    width: 50px;  
}



a:hover {
    color: $color-principal;
    transition: color 50ms;
}


a:active, a:hover {
    outline: 0;
}
#proyecto {
    background-image: url(../img/nuevo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #c4415d;
    ;}

.portfolio-item-button {
    display: $display-block;
    border: 2px solid $color-secundario;
    border-radius: 7px;
    text-align: center;
    line-height: 70px;
    width: 300px;
    height: 70px;
    font-weight: 500;
    color:$color-secundario;
    font-size: 20px;
}   
    
    .portfolio-item-button:hover {
    background: $color-secundario;
    color: #c4415d;
}
    


.portfolio-item-description {
    font-size: 20px;
    margin-bottom: 40px;
}
.portfolio-item-title {
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 30px;
}
#contacto{
    background-image: url(../img/1-teto.png),url(../img/camada4-teto-arvores.png),url(../img/fundo.png),url(../img/5-arvores.png);
    background-repeat: no-repeat;
    background-size: fixed;
    background-position:left ,  right bottom, 00;
    padding-bottom: 500px;
    
    
		  
}
.icono{
  
    font-size: 35px;
    color: black;
}





/*********@media**************/
@media (max-width: 1199px){
    .portfolio-item {
    width: $cien;
    
    }
    
}
@media (min-width: 700px) { 
            .navbar{
                    text-align: center;
                   }
}

    
@media (max-width:600px) and (min-width:350px){
    
  .portfolio-item-button {
        margin-bottom:20px;
        text-align: center
      
    } 
    #adorno{
        display: $displaynone;
    }
   .about
    {
        display: $displaynone;
    }
    .descripcion{
        width: $cien;
    }
    .portfolio-item-description{
        display: $displaynone;
    }
    .portfolio-item-title{
      
        display: $display-block;
        font-size: 20px;
    }
    #proyecto{
        width: $cien;
    }
}