/* line 3, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  opacity: 0; }

/* line 15, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.visible {
  opacity: 1;
  display: table; }

/* line 21, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.content {
  background: rgba(0, 255, 0, 0.1);
  display: table-cell;
  vertical-align: middle; }

/* line 33, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#saludo h1 {
  margin-bottom: 120px; }

/* line 81, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#inicio, #aboutme, #header {
  background-image: url(../img/fondo3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* line 88, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
nav.navbar {
  opacity: 0.5;
  position: fixed;
  top: 0px; }
  /* line 93, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  nav.navbar ul .nav {
    padding-left: 50%; }
    /* line 96, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
    nav.navbar ul .nav li a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px; }

/* line 106, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.navbar-default .navbar-nav > li > a {
  font-weight: 50;
  font-size: 30px;
  color: #c4415d;
  font-family: "Roboto Slab", serif; }

/* line 117, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#habilidades {
  background-image: url(../img/fondo7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* line 123, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
img {
  border: 5px solid #ccc;
  float: left;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -ms-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out; }

/* line 133, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.ex1 img:hover {
  margin-top: 2px; }

/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/
/* line 148, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
h1 {
  font-weight: 700;
  font-size: 77px;
  margin: 0;
  padding: 0;
  color: #c4415d;
  font-family: "Roboto Slab", serif; }

/* line 157, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
ul {
  display: inline-block;
  list-style: none;
  padding-left: 0; }

/* line 163, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
li {
  list-style: none; }

/* line 167, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
a:hover {
  color: #c4415d;
  transition: color 50ms; }

/* line 173, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
a:active, a:hover {
  outline: 0; }

/* line 176, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#proyecto {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #CFCFC4; }

/* line 184, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-button {
  display: inline-block;
  border: 2px solid #ffffde;
  border-radius: 7px;
  text-align: center;
  line-height: 70px;
  width: 300px;
  height: 70px;
  font-weight: 500;
  font-size: 20px; }

/* line 196, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-button {
  color: #c4415d;
  text-decoration: none; }

/* line 201, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-button:hover {
  background: #ffffde;
  color: #c4415d;
  text-decoration: none; }

/* line 208, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-title {
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 30px;
  color: #c4415d; }

/* line 214, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.portfolio-item-description {
  font-size: 20px;
  margin-bottom: 40px; }

/* line 220, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
#contacto {
  background-color: #c4415d;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: left ,  right bottom, 00,top;
  padding-bottom: 5%; }

/* line 229, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.contacto .row .iconos .icono {
  width: 50px;
  font-size: 35px;
  color: black; }

/* line 238, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.item {
  height: 100%;
  width: 100%; }

/* line 243, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
.icono {
  font-size: 35px;
  color: black;
  list-style: none; }

/*********@media**************/
@media (max-width: 1199px) {
  /* line 253, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item {
    width: 100%; } }

@media (min-width: 700px) {
  /* line 260, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .navbar {
    text-align: center; }
  /* line 263, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .menu-items {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    margin-top: -40px;
    width: 100%; }
  /* line 270, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .menu {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c4415d;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 24px;
    border: none; } }

@media (max-width: 600px) and (min-width: 350px) {
  /* line 287, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  h1 {
    font-size: 40px;
    width: 100%; }
  /* line 291, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .frase {
    text-align: center; }
  /* line 294, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .decripcion h4 {
    padding-left: 0px; }
  /* line 297, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item-button {
    margin-bottom: 20px;
    text-align: center; }
  /* line 302, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  #adorno {
    display: none; }
  /* line 305, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .about {
    display: none; }
  /* line 309, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .descripcion {
    width: 100%; }
  /* line 312, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item-description {
    display: none; }
  /* line 315, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  .portfolio-item-title {
    display: inline-block;
    font-size: 30px;
    text-align: center; }
  /* line 321, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
  #proyecto {
    width: 100%; } }

/* line 326, C:/LABORATORIA/java/portafolio-lab/sass/index.scss */
footer {
  background-color: black;
  color: white; }

/*# sourceMappingURL=index.css.map */