$font-principal:'Roboto Slab', serif;
$font-sec:"Helvetica Neue", Helvetica, Arial, sans-serif;
$display-block: inline-block;
$displaynone: none;
$cien:100%;
$color-principal:#d94362;
$color-secundario:#ffffde;
$color-oscuro:#372d3b;

//*{outline: 1px solid pink}

#inicio{
    background-image: url(../img/img-2.png),url(../img/2-arvore-dir.png),url(../img/13-ceu.png),url(../img/5-arvores.png);
    background-repeat: no-repeat;
    background-size: fixed;
    background-position:left ,  right bottom, 00, 00;
}

nav.navbar {
    opacity: 0.5;
    ul{
        .nav{
            li{
                a{
                     font-family: $font-sec;
                    font-size: 18px;  
                }
            }
        }
    }
}

#aboutme{
    background-color: $color-oscuro;
}
#habilidades{
    background-color: $color-oscuro;
   
}
/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/ 
h1 {
    font-weight: 700;
    font-size: 77px;
    margin: 0;
    padding: 0;
    color: $color-principal;
    font-family:$font-principal;
}

ul
{
    display: $display-block;
    list-style: $displaynone;
    padding-left: 0;
}
li{
    padding-bottom: 5%;
}

a:hover {
    color: $color-principal;
    transition: color 50ms;
}


a:active, a:hover {
    outline: 0;
}
#proyecto {
    background-image: url(../img/nuevo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #c4415d;
    }

.portfolio-item-button {
    display: $display-block;
    border: 2px solid $color-secundario;
    border-radius: 7px;
    text-align: center;
    line-height: 70px;
    width: 300px;
    height: 70px;
    font-weight: 500;
    //color:$color-secundario;
    font-size: 20px;
} 
.portfolio-item-description a {
    color: $color-secundario;
    text-decoration: none;
    
}
 .portfolio-item-button:hover {
    background: $color-secundario;
    color: #c4415d;
     
}

.portfolio-item-title {
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 30px;
}    
.portfolio-item-description {
    font-size: 20px;
    margin-bottom: 40px;
   
}

#contacto{
    background-image: url(../img/1-teto.png),url(../img/camada4-teto-arvores.png),url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: fixed;
    background-position:left ,  right bottom, 00;
    padding-bottom: 500px;
}
.contacto{
    .row {
        .iconos{
            .icono{
                width: 50px;
                font-size: 35px;
                color: black;
            }
        }
    }
}  


.icono{
    font-size: 35px;
    color: black;
    list-style: $displaynone;
}



/*********@media**************/
@media (max-width: 1199px){
    .portfolio-item {
    width: $cien;
    
    }
    
}
@media (min-width: 700px) { 
            .navbar{
                    text-align: center;
                   }
}

    
@media (max-width:600px) and (min-width:350px){
    
  .portfolio-item-button {
        margin-bottom:20px;
        text-align: center
      
    } 
    #adorno{
        display: $displaynone;
    }
   .about
    {
        display: $displaynone;
    }
    .descripcion{
        width: $cien;
    }
    .portfolio-item-description{
        display: $displaynone;
    }
    .portfolio-item-title{
      
        display: $display-block;
        font-size: 20px;
    }
    #proyecto{
        width: $cien;
    }
}