/*header
{
    background-image: url(descarga.png);
    background-repeat: no-repeat;
    padding: 1000%;
    background-color: ;
}
header h1
{
   color: aqua;
    font-size: 25px;
}*/ 
/*h1 {
    font-weight: 700;
    font-size: 77px;
    margin: 0;
    padding: 0;
    color: #d94362;
}